@font-face {
  font-family: 'pearl';
  src: url('fonts/tan-pearl.woff2') format('woff2'),
       url('fonts/tan-pearl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset */

html {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body {
  background-color: #191D27;
  color: #FFFCDB;
}

main {
    min-height: 76vh;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: #0b2774;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.separador {
    background-color:#7F001F;
    color: #7F001F;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1px;
    height: 1px;

}

/* header */

header {
    background-color: #7F001F;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav h1{
    font-family: 'pearl', 'times';
    font-size: 5vh;
    color: #FFFCC8;    
}

header nav h1:hover {
    cursor: url('assets/Ryzor_logo_creme.png') 16 16, pointer;
    text-shadow: #FFFCC8 0px 0px 2px, #FFFCC8 0px 0px 2px, #FFFCC8 0px 0px 20px;
}

/* Bash */

pre {
  background: #1e1e1e;
  color: #FFFCC8;           
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;         /* rolagem se for muito longo */
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
}

pre code.bash::before {
  content: "bash";          /* simula o marcador ```bash */
  display: block;
  color:#e7033c;           /* tua cor destaque */
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.bash_case {
    margin: 20px;
    margin-bottom: 20px;
}

/* Footer */


footer {
  background:#7F001F;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
footer p {
    color:#FFFCDB ;

}

/* Oque é? */

abbr {
    position: relative;
    cursor: help;
    text-decoration: underline dotted;
    color: #0fff7b;
    transition: all 0.3s ease; /* animação suave */
}

abbr:hover {
    color: #00CFFF;
    transform: scale(1.05); /* cresce ligeiramente */
    text-shadow: 0 0 5px #00CFFF;
}

abbr:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #04c159;
    color: #232b4b;
    padding: 5px 8px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 999;
    font-size: 0.85rem;
    
    /* Animação do tooltip */
    animation: tooltip-appear 0.1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes tooltip-appear {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
    }
}

.github {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 20px 0;
    margin-left: 20px; 
}

.github a {
    text-decoration: none; /* remove sublinhado */
}

.github button {
    background-color: #7F001F;
    color: #FFFCC8;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'pearl', 'times';
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.github button:hover {
    background-color: #00CFFF;
    color: #191D27;
    transform: scale(1.05);
}


.logo {
    color: #e7033c;
    transition: all 0.3s ease;
}

.logo:hover {
    color: #00CFFF;
    text-shadow: #00CFFF 0px 0px 2px, #00CFFF 0px 0px 2px, #00CFFF 0px 0px 20px;
    cursor: url('assets/Ryzor_logo_red.png') 16 16, pointer;
    transform: scale(1.05); /* cresce ligeiramente */
    letter-spacing: 1px; /* espaçamento das letras */
}


.oque_e {
    margin: 10px;

}
.oque_e p {
    color: #FFFCC8;
}

.titulos {
    margin: 20px;
    margin-left: 10px;
    font-family: 'pearl';
    color: #00CFFF;
    font-weight: bold;

}

.sub_titulo {
    font-family: 'pearl';
    color: #f7db78;
    font-weight: bold;

}

abbr, a {
    font-size: 17px;
    transition: all 0.2s ease;
}

a:hover {
    color: #00CFFF;
    text-decoration: underline;
    font-size: 18px;

}


p {
    margin-left: 10px;
    
}

/* Visão Geral */

.visao_geral {
    margin-top: 20px;
}

.visao_geral h2 {  
    margin: 10px;
    margin-left: 10px;
    font-family: 'pearl';

}

.visao_geral {
    margin: 10px;
}

ul {
    margin-left: 40px;

}

.sub_lista {
    margin-left: 30px;
}

/* Estrutura do Projeto */

.estrutura_do_projeto h2{
    margin: 10px;
    margin-left: 10px;
    font-family: 'pearl';

}

.estrutura_do_projeto {
    margin: 10px;
}

/* Exemplo de Uso */

.exemplo_uso h2 {
    margin: 10px;
    margin-left: 10px;
    font-family: 'pearl';
}

.exemplo_uso {
    margin: 10px;
}

/* Dependências */

.dependencias h2 {
    margin: 10px;
    margin-left: 10px;
    font-family: 'pearl';
}

.dependencias h5 {
    margin: 20px;
    margin-left: 20px;
    font-family: 'pearl';
}

.dependencias {
    margin: 10px;
}

/* Status */

.status h2 {
    margin: 10px;
    margin-left: 10px;
    font-family: 'pearl';

}

.status ul{
    margin-left: 50px;
}

.status h5 {
    margin: 20px;
    margin-left: 20px;
    font-family: 'pearl';

}

.status {
    margin: 10px;
}

/* Licença */

.licenca h2 {
    margin: 10px;
    margin-left: 10px;
    font-family: 'pearl';

}

.licenca{
    margin: 10px;
}

a {
    text-decoration: none;
    color: #e7033c;
}

.k{
    text-decoration: none;
    color:#FFFCC8
}